**/*$py.class
**/*.cover
**/*.egg
**/*.egg-info/
**/*.log
**/*.manifest
**/*.mo
**/*.pot
**/*.py,cover
**/*.py[cod]
**/*.sage.py
**/*.so
**/*.spec
**/*Dockerfile
**/.*cache
**/.Python
**/.coverage
**/.coverage.*
**/.dmypy.json
**/.eggs/
**/.env
**/.gitignore
**/.hypothesis/
**/.installed.cfg
**/.ipynb_checkpoints
**/.mypy_cache/
**/.nox/
**/.pybuilder/
**/.pyre/
**/.pytest_cache/
**/.pytype/
**/.ropeproject
**/.scrapy
**/.spyderproject
**/.spyproject
**/.tox/
**/.venv
**/.webassets-cache
**/ENV/
**/MANIFEST
**/__pycache__/
**/__pypackages__/
**/build/
**/celerybeat-schedule
**/celerybeat.pid
**/compose.yml
**/cover/
**/coverage.xml
**/cython_debug/
**/db.sqlite3
**/db.sqlite3-journal
**/develop-eggs/
**/dist/
**/dmypy.json
**/docker-compose.yml
**/docs/_build/
**/downloads/
**/eggs/
**/env.bak/
**/env/
**/htmlcov/
**/instance/
**/ipython_config.py
**/lib/
**/lib64/
**/local_settings.py
**/nosetests.xml
**/parts/
**/pip-delete-this-directory.txt
**/pip-log.txt
**/profile_default/
**/sdist/
**/share/python-wheels/
**/site
**/target/
**/tests/
**/var/
**/venv.bak/
**/venv/
**/wheels/
.devcontainer
.dockerignore
.git
.github
.pdm-build/
.pdm-python
.pdm.toml
.pre-commit-config.yaml
.vscode
LICENSE
README.md
assets
pyrightconfig.json
ruff.toml
